<figure class='attachment attachment--<%= blob.image? ? 'preview' : 'file' %>'>
  <% if blob.image? %>
    <%= image_tag(blob, alt: blob.filename, width: blob.node[:width], height: blob.node[:height]) %>
  <% end %>

  <figcaption class='attachment__caption'>
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class='attachment__name'><%= blob.filename %></span>
      <span class='attachment__size'><%= number_to_human_size(blob.byte_size) %></span>
    <% end %>
  </figcaption>
</figure>
